// Includes all mixins being used in this project.

@mixin centerFlexin {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexendformobile {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@mixin button {
  border: 1px solid #414141;
  border-radius: 50px;
  color: white;
  width: 58px;
  height: 58px;
}
